__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
data/*
!data/*.py
!data/__init__.py
outputs/*
!outputs/.gitkeep
### Data & outputs (large files)
data/**
outputs/**
wandb/
!data/*.py
!data/__init__.py
!outputs/.gitkeep
!data/.gitkeep
wandb/
.ipynb_checkpoints/
.DS_Store
Thumbs.db
!outputs/.gitkeep
!data/.gitkeep
